.reviews{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
h2{
    padding: 1% 0;
}
.review{
    display: flex;
    gap: 1em;
    background-color: #F6F6F6;
    border-radius: 1em;
    padding: 5% 3%;
}
.review img{
    width: 3em;
    height: 3em;
}
.review-content p span{
    color: #CAC4C4;
    font-size: 12px;
}
.review-content p span::before{
    content: "•";
    padding-right: 5px;
}
.reviewp{
    font-weight: 500;
    padding-top: 3%;
}
.rev{
    padding: 1% 0;
}